
.next/node_modules/
# Ignore node_modules
node_modules/

# Ignore environment variables
.env.local

# Ignore log files
*.log

# Ignore any specific files you don't want to push
# some_file.txt
# another_folder/
.next/

# Ignore logs and debug files
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore package-lock.json if you want consistency across different setups (optional)
package-lock.json

# Ignore VS Code settings (user-specific configurations)
.vscode/
.next/cache/webpack/client-development/10.pack.gz
