
.next/node_modules/
# Ignore node_modules
node_modules/

# Ignore environment variables
.env.local

# Ignore log files
*.log

# Ignore any specific files you don't want to push
# some_file.txt
# another_folder/
